@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f4f4f5;
  --foreground: #09090b;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #09090b;
    --foreground: #f4f4f5;
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), system-ui, sans-serif;
}

a {
  @apply underline-offset-4 transition-colors hover:underline;
}
